body {
    background-color: lightblue;
}
h1 {
    color: #3851aa;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 5px;
    font-weight: 900;
}
h4, p {
    color: rgb(68, 63, 63);
    text-align: center;
    word-spacing: 4px;
    font-weight: 700;
}
#container {
   background-image: url(images/download\ \(1\).jpg);
   background-size: 100%;
   margin: 30px 50px 20px 50px;
   height: 555px;
}
#calculator {
    background-color: #e4eaee;
    top: 20px;
    position: relative;
    width: 350px;
    height: 515px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(136, 130, 130, 0.2), 0 6px 20px 0 rgba(17, 17, 17, 0.19);
    margin: 0 auto;
}
#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#result {
    height: 100px;
}
#keyboard {
    height: 480px;
}
#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
.number, .empty {
    background-color: #eaedef;
}
.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 17px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.operator:active, .number:active {
    outline: 0;
}
.number, .operator {
    cursor: pointer;
}
button:nth-child(4) {
    font-size: 20px;
    background-color: #269c94;
}
button:nth-child(8) {
    font-size: 20px;
    background-color: #a710bb;
}
button:nth-child(12) {
    font-size: 20px;
    background-color: #a38811c2;
}
button:nth-child(16) {
    font-size: 20px;
    background-color: #086e38;
}
button:nth-child(20) {
    font-size: 20px;
    background-color: #900b33;
}

@media only screen and (max-width: 500px) {
   body {
    width: 100%;

   } 
}
